name: "Validate devcontainer-feature.json files"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'features/**'
      - '.github/workflows/feature-validate.yml'
  push:
    branches:
      - master
    paths:
      - 'features/**'
      - '.github/workflows/feature-validate.yml'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Validate devcontainer-feature.json files"
        uses: devcontainers/action@v1
        with:
          validate-only: "true"
          base-path-to-features: "./features/src"

