name: "Release features"
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'features/src/**'
      - '.github/workflows/feature-release.yaml'

concurrency:
  group: feature-release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./features/src"
          generate-docs: "true"
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

