name: "Validate devcontainer-feature.json files"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'features/**'
      - '.github/workflows/feature-validate.yml'
  push:
    branches:
      - master
    paths:
      - 'features/**'
      - '.github/workflows/feature-validate.yml'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Install devcontainer CLI"
        run: npm install -g @devcontainers/cli

      - name: "Validate devcontainer-feature.json files"
        run: |
          devcontainer features validate ./features/src

